#leftPanel > li {
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 50px;
  color: black;
}

.fade-in-text {
  animation: fadeIn 5s;
}

.form {
  display: flex;
  flex-direction: row;
}
.search-field {
  width: 100%;
  padding: 10px 35px 10px 15px;
  border: solid #1da1f2 1px;
  border-radius: 5px;
  outline: none;
  height: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
  font-style: italic;
  background-color: rgb(230, 228, 228);
}

.search-button {
  background: transparent;
  border: none;
  outline: none;
}

.search-button img {
  width: 20px;
  height: 20px;
  object-fit: cover;
  margin-left: -37px;
  margin-top: 14px;
}

.hint {
  height: 80px;
  width: 100%;
  border-radius: 5px;
  background-color: rgb(230, 228, 228);
  text-align: center;
  padding: 20px;
  transition: width 1s, height 1s, background-color 1s, transform 1s;
}

.friend-field {
  height: 460px;
  width: 100%;
  border-radius: 5px;
  background-color: rgb(230, 228, 228);
  padding: 20px;
  transition: width 1s, height 1s, background-color 1s, transform 1s;
  overflow-y: scroll;
  text-align: center;
}

.possibleFriend {
  font-size: large;
  height: 46px;
  margin: auto;
}

.white {
  background-color: white;
}

.b1 {
  background: grey;
  width: 33.333%;
  height: 100px;
  text-align: center;
}

.home {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  color: black;
}

.tweet {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  margin: auto;
  display: block;
}

.post {
  text-align: center;
  font-size: medium;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  word-break: break-all;
}

.loginMenu {
  width: 300px;
}

.welcome {
  text-align: center;
}

.navbaritems {
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
